/* Mobile */
@media (max-width: 740px) {
    #Nav li {
        display: block;
    }

    #Nav li:first-child {
        display: inline-block;
    }

    #Nav li a {
        padding: 2px 24px;
    }
    
    #Nav {
        display: block;
    }

    #Nav .MoreNav {
        position: initial;
        background-color: #333;
    }

    #Nav .MoreNav a:hover {
        color: black;
    }

    #Nav .MoreNav a {
        color: #fff;
        padding: 5px 40px;
    }

    #Search {
        display: none;
    }

    #Header {
        overflow: hidden;
    }

    #Header .mobile-menu-button {
        display: block;
    }

    .member-item {
        float: none;
        width: 100%;
    }

    .member-image {
        width: 50%;
    }

    .member-name {
        margin-top: 15px;
    }

    .ticket-item {
        float: none;
        width: 85%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .place-list {
        margin-left: 0px;
        margin-right: 0px;
    }

    .ticket-section {
        width: 100%;
    }

    .ticket-buy-button {
        padding: 15px 16px;
    }

    #submit-form-button {
        padding: 15px 20px;
    }

    #SocialNetwork a {
        padding: 0 12px;
    }

    #Copyright {
        padding: 15px 0;
    }

    #contact-info {
        float: none;
        width: 100%;
        padding-bottom: 30px;
    }

    #contact-form {
        float: none;
        width: 100%;
    }

    #name-contact-form {
        float: none;
        width: 100%;
    }

    #email-contact-form {
        float: none;
        width: 100%;
        position: initial;
        margin-top: 8px;
    }
}
